<script setup lang="ts"></script>
<template>
  <v-layout>
    <router-view name="header"></router-view>
    <router-view name="menu"></router-view>

    <v-main> <router-view></router-view> </v-main>
  </v-layout>
</template>
